
@model About

<div style="overflow-x:scroll">


    <table class="table table-bordered" style="width:1500px;">
        <thead class="bg-register-image">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Descripiton</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Html.Raw(Model.Title)</td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
    </table>
</div>
