
<div class="wishlist">
    <a asp-action="Index" asp-controller="Wish" title="Wishlist">
        <div class="icon">
            <i class="icon-heart-o"></i>

            @if (ViewBag.wish!=null)
            {
                <span class="wishlist-count badge">@ViewBag.wish.Count</span>
            }
        </div>
        <p>Wishlist</p>
    </a>
</div><!-- End .compare-dropdown -->
