<div class="dropdown compare-dropdown">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
        <div class="icon">
            <i class="icon-random"></i>
        </div>
        <p>Compare</p>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <ul class="compare-products">
            @if (ViewBag.comp != null)
            {

                @foreach (var item in ViewBag.comp)
                {
                    <li class="compare-product">
                        <a asp-action="Remove" asp-controller="Compare" asp-route-id="@item.Product.Id" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                        <h4 class="compare-product-title"><a href="product.html">@item.Product.Name</a></h4>
                    </li>
                }
            }
        </ul>

        <div class="compare-actions">
            <a asp-action="RemoveCookies" asp-controller="Compare" class="action-link">Clear All</a>
            <a asp-action="Index" asp-controller="Compare" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
        </div>
    </div><!-- End .dropdown-menu -->
</div><!-- End .compare-dropdown -->