@model ContactForm

@section styles{ @*bunu ona gore yazdiqki burda yazilan css shared papkasinda loayout.cshtml icerisinde render ede bilek*@
<style>
    label {
        color: red;
    }
</style>
}
<form method="post" enctype="multipart/form-data">


    <div class="mb-3">
        <label>My opinion</label>
        <textarea asp-for="MyOpinion" id="opinion" class="form-control"></textarea>
        <span asp-validation-for="MyOpinion" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>