@model Category


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">classname</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>
                <img width="200" height="150" src="~/images/products/@Model.Image" alt="Alternate Text" />
            </td>
            <td>@Model.Name</td>
            <td>@Model.className</td>

        </tr>
    </tbody>
</table>